<section class="bg-primary">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 d-flex">
          <div class="aline-self-center mx-5">
            <h1 class="display-4 text-white">
              Venha conhecer nossas novidades.
            </h1>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur architecto placeat officia adipisci
              impedit,
              ipsum doloremque laudantium exercitationem aliquid veritatis assumenda neque delectus enim sint.
              Omnis quas labore modi ipsam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur
              architecto placeat officia adipisci impedit,
              ipsum doloremque laudantium exercitationem aliquid veritatis assumenda neque delectus enim sint.
              Omnis quas labore modi ipsam.
            </p>
          </div>
        </div>
        <div class="col-md-6 d-none d-md-block">
          <img class="img-novidades p-5" src="/assets/imagens/controle2.jpg" alt="">
        </div>
      </div>
    </div>

  </section>
