<section>
    <div class="row">
      <div class="text-center">
        <h1 class="display-4 mt-4">
          Que tal conhecer nossas obras em destaque?
        </h1>
        <p class="ms-5 me-5 mt-4">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur architecto placeat officia adipisci
          impedit,
          ipsum doloremque laudantium exercitationem aliquid veritatis assumenda neque delectus enim sint.
          Omnis quas labore modi ipsam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur architecto
          placeat officia adipisci impedit,
          ipsum doloremque laudantium exercitationem aliquid veritatis assumenda neque delectus enim sint.
          Omnis quas labore modi ipsam.
        </p>
      </div>

      <div>
                <div class="row">
                <div class="d-flex justify-content-center my-3">
                    <div class="galeria">
                    <a href="/assets/imagens/Controle.jpg">
                        <img class="img-destaque img-thumbnail" src="/assets/imagens/Controle.jpg" alt="">
                    </a>
                    <p>jogo</p>
                    <p>ano</p>
                    </div>

                    <div class="galeria">
                    <a href="/assets/imagens/Controle.jpg">
                        <img class="img-destaque img-thumbnail" src="/assets/imagens/Controle.jpg" alt="">
                    </a>
                    <p>jogo</p>
                    <p>ano</p>
                    </div>

                    <div class="galeria">
                    <a href="/assets/imagens/Controle.jpg">
                        <img class="img-destaque img-thumbnail" src="/assets/imagens/Controle.jpg" alt="">
                    </a>
                    <p>jogo</p>
                    <p>ano</p>
                    </div>

                    <div class="galeria">
                    <a href="/assets/imagens/Controle.jpg">
                        <img class="img-destaque img-thumbnail" src="/assets/imagens/Controle.jpg" alt="">
                    </a>
                    <p>jogo</p>
                    <p>ano</p>
                    </div>

                    <div class="galeria">
                    <a href="/assets/imagens/Controle.jpg">
                        <img class="img-destaque img-thumbnail" src="/assets/imagens/Controle.jpg" alt="">
                    </a>
                    <p>jogo</p>
                    <p>ano</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<app-novidades></app-novidades>
